.disNone {
  display: none; }

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 18px 15px 5px 10px;
  background-color: black;
  z-index: 200;
  transition-duration: 200ms;
  transition-timing-function: ease-out; }

.animationCursor {
  animation: AnimateWhenClick 0.5s alternate; }

.reverseAnimationCursor {
  animation: AnimateWhenUnClick 0.6s alternate; }

@keyframes AnimateWhenClick {
  from {
    border-radius: 18px 15px 5px 10px; }
  to {
    border-radius: 2px 18px 5px 18px; } }

@keyframes AnimateWhenUnClick {
  from {
    border-radius: 2px 18px 5px 18px; }
  to {
    border-radius: 18px 15px 5px 10px; } }

* {
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  cursor: none; }

body {
  font-family: "Righteous", cursive;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  position: relative; }

::selection {
  background-color: #558b7bb1;
  color: white; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.secbg {
  display: grid;
  grid-template-columns: repeat(10, auto); }
  .secbg .bg {
    background-color: white;
    height: 100vh; }

.svgTop {
  position: absolute;
  top: 36%;
  left: 36%;
  z-index: 3;
  opacity: 0; }

.svgbottom {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 3;
  opacity: 0; }
