.disNone {
  display: none !important; }

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 18px 15px 5px 10px;
  background-color: black;
  z-index: 200;
  transition-duration: 200ms;
  transition-timing-function: ease-out; }

.animationCursor {
  animation: AnimateWhenClick 0.5s alternate; }

.reverseAnimationCursor {
  animation: AnimateWhenUnClick 0.6s alternate; }

@keyframes AnimateWhenClick {
  from {
    border-radius: 18px 15px 5px 10px; }
  to {
    border-radius: 2px 18px 5px 18px; } }

@keyframes AnimateWhenUnClick {
  from {
    border-radius: 2px 18px 5px 18px; }
  to {
    border-radius: 18px 15px 5px 10px; } }

.circlesWraper__circle1, .circlesWraper__circle2, .circlesWraper__circle3, .circlesWraper__circle4, .circlesWraper__circle5, .circlesWraper__circle6, .circlesWraper__circle7 {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  opacity: 0; }

.circlesWraper__circle1 {
  background-color: #301b3f;
  top: 30%;
  left: -4%; }

.circlesWraper__circle2 {
  background-color: #151515;
  top: 18%;
  left: 7%;
  z-index: 2; }

.circlesWraper__circle3 {
  background-color: #151515;
  top: 4%;
  left: 17%; }

.circlesWraper__circle4 {
  background-color: #151515;
  top: 26%;
  left: 18%;
  z-index: 2; }

.circlesWraper__circle5 {
  background-color: #151515;
  top: -7%;
  left: 6%;
  z-index: 2; }

.circlesWraper__circle6 {
  background-color: #301b3f;
  top: -3%;
  left: -5%; }

.circlesWraper__circle7 {
  background-color: #151515;
  top: 16%;
  left: -1%;
  z-index: 2; }

.LogoWrapper__LogoP2Top, .LogoWrapper__LogoP2Down {
  position: absolute;
  width: 30rem;
  object-fit: contain;
  opacity: 0; }

.LogoWrapper__LogoP2Top {
  top: 15%;
  left: 8%;
  z-index: 4; }

.LogoWrapper__LogoP2Down {
  top: 28%;
  left: 6%;
  width: 36rem;
  z-index: 4; }

.btnEncrypt {
  position: absolute;
  background-color: #b4a5a5;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  top: 8%;
  left: 60%;
  opacity: 0;
  cursor: pointer; }

.btnDecrypt {
  position: absolute;
  background-color: #3c415c;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  top: 15%;
  left: 60%;
  opacity: 0;
  cursor: pointer; }

.Encrypt {
  position: absolute;
  top: 40%;
  left: 57%;
  font-size: 5rem;
  letter-spacing: 3px;
  color: white;
  opacity: 0; }

.EncryptInput {
  position: absolute;
  top: 60%;
  left: 57%;
  width: 25rem;
  height: 3.9rem;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 2rem;
  padding-left: 0.5rem;
  opacity: 0; }
  .EncryptInput__kNumber {
    position: absolute;
    top: 60%;
    left: 77%;
    width: 6rem;
    height: 3.9rem;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-size: 2rem;
    padding-left: 0.5rem;
    opacity: 0; }

.btnGen {
  position: absolute;
  top: 74%;
  left: 64%;
  background-color: transparent;
  border: 2px solid #151515;
  padding: 1.3rem 4.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-out;
  opacity: 0; }

.btnG2 {
  border: none;
  color: #564464;
  background-color: rgba(255, 255, 255, 0.582);
  filter: blur(10px);
  transition: all 0.4s ease-in; }

.btnG2:hover {
  filter: none; }

.btnGen:hover {
  transform: scale(1.1);
  border-radius: 15px; }

.btnGen:active {
  transform: scale(1);
  border-radius: 10px; }

.result {
  position: absolute;
  top: 54%;
  left: 65%;
  width: 4rem;
  height: 4rem;
  background-color: #b9e0ff;
  border-radius: 30px;
  opacity: 1; }

.answer {
  position: absolute;
  top: 33%;
  left: 57%;
  font-size: 5rem;
  color: #6c4ab6; }

.showingAnswer {
  position: absolute;
  top: 53%;
  left: 53%;
  font-size: 3.2rem;
  background-color: white;
  padding: 1rem 8rem;
  border-radius: 4px;
  color: #b9e0ff; }

.reset {
  position: absolute;
  top: 71%;
  left: 61%;
  font-size: 2rem;
  background-color: transparent;
  padding: 1rem 4rem;
  border-radius: 6px;
  color: #8d9eff;
  cursor: pointer;
  border: none; }

* {
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  cursor: default; }

body {
  font-family: "Righteous", cursive;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  position: relative; }

::selection {
  background-color: #558b7bb1;
  color: white; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.secbg {
  display: grid;
  grid-template-columns: repeat(10, auto); }
  .secbg .bg {
    background-color: white;
    height: 100vh; }

.svgTop {
  position: absolute;
  top: 33%;
  left: 37.5%;
  z-index: 3;
  opacity: 0;
  transition: 0.4s ease-in; }

.svgAnime path {
  animation-duration: 0.4s;
  animation-name: animateLogo;
  animation-fill-mode: forwards; }

.svgAnimed path {
  animation-duration: 0.4s;
  animation-name: animateLogod;
  animation-fill-mode: forwards; }

.svgbottom {
  position: absolute;
  top: 50%;
  left: 32%;
  z-index: 3;
  opacity: 0; }

.mainSvg path {
  stroke-dasharray: 2000;
  stroke-dashoffset: 0; }

a {
  text-decoration: none;
  color: inherit; }

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  position: absolute;
  top: 51.5%;
  left: 45.5%;
  z-index: 6;
  opacity: 0; }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(0, 0, 0, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease; }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle; }
  .cta .btns {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111010;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease; }
  .cta:hover {
    color: #c4c1c1; }
    .cta:hover:before {
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
    .cta:hover .btns {
      transform: translateX(0); }
  .cta:active {
    transform: scale(0.96); }

.opjectPath {
  position: absolute;
  top: 20%;
  left: 0; }

.object1 {
  position: absolute;
  top: 0;
  left: 10rem;
  width: 15rem;
  opacity: 0; }

.object2 {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 2.5rem;
  opacity: 0; }

.object3 {
  position: absolute;
  top: 20rem;
  left: 1rem;
  width: 10rem;
  opacity: 0; }

@keyframes animateLogo {
  from {
    transform: translateY(0);
    opacity: 1; }
  to {
    transform: translateY(-4rem);
    opacity: 0.5; } }

@keyframes animateLogod {
  from {
    transform: translateY(0);
    opacity: 1; }
  to {
    transform: translateY(2.5rem);
    opacity: 0.5; } }
