* {
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  cursor: none;
}

body {
  font-family: "Righteous", cursive;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  position: relative;
}

::selection {
  background-color: #558b7bb1;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
