.header {
  position: relative;
  max-height: 30vh;
}

.logoContainer {
  max-width: 50%;
  margin: 1rem auto;

  &__logo {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0;
  }

  &__First {
    margin-left: 8%;
  }

  &__First,
  &__Second {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1.5rem;
    color: white;
  }

  &__Second {
    margin-left: 10%;
  }
}

.main {
  position: relative;
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightSide {
  min-width: 30rem;
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
    width: 35rem;
    height: 26rem;
    transform: translate(0, 15%);
  }

  &__mainel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__header {
    color: #5f5f5f;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .kHeader {
    position: relative;
    //border: 2px solid black;
    overflow: hidden;
    border-radius: 8px;
    padding: 0.8rem 0;
  }

  .kHeader::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    border-radius: 8px;
    background-color: #608050;
    z-index: -3;
    animation: border 1.2s linear infinite;
  }

  .kHeader::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #abc29e;
    z-index: -1;
  }

  &__bottom {
    position: relative;
  }

  &__input {
    position: relative;
    align-content: center;
    height: 2.5rem;
    width: 17rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    font-family: inherit;
    border-left: 6px solid #607655;
  }
}

.leftSide {
}

.footer {
  position: relative;
  height: 10vh;
}

@keyframes border {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
