.secbg {
  display: grid;
  grid-template-columns: repeat(10, auto);
  .bg {
    background-color: white;
    height: 100vh;
  }
}

.svgTop {
  position: absolute;
  top: 36%;
  left: 36%;
  z-index: 3;
  opacity: 0;
}

.svgbottom {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 3;
  opacity: 0;
}
