.circlesWraper {
  &__circle1,
  &__circle2,
  &__circle3,
  &__circle4,
  &__circle5,
  &__circle6,
  &__circle7 {
    position: absolute;
    width: 2.5rem; // big size will be 27rem
    height: 2.5rem; // big size will be 27rem
    border-radius: 100%;
    opacity: 0;
  }

  &__circle1 {
    background-color: #301b3f;
    top: 30%;
    left: -4%;
  }

  &__circle2 {
    background-color: #151515;
    top: 18%;
    left: 7%;
    z-index: 2;
  }

  &__circle3 {
    background-color: #151515;
    top: 4%;
    left: 17%;
  }

  &__circle4 {
    background-color: #151515;
    top: 26%;
    left: 18%;
    z-index: 2;
  }

  &__circle5 {
    background-color: #151515;
    top: -7%;
    left: 6%;
    z-index: 2;
  }

  &__circle6 {
    background-color: #301b3f;
    top: -3%;
    left: -5%;
  }

  &__circle7 {
    background-color: #151515;
    top: 16%;
    left: -1%;
    z-index: 2;
  }
}

//////////////////////////////////////////
/// Logo

.LogoWrapper {
  &__LogoP2Top,
  &__LogoP2Down {
    position: absolute;
    width: 30rem;
    object-fit: contain;
    opacity: 0;
  }

  &__LogoP2Top {
    top: 15%;
    left: 8%;
    z-index: 4;
  }

  &__LogoP2Down {
    top: 28%;
    left: 6%;
    width: 36rem;
    z-index: 4;
  }
}

/////////////////////////////////////////////////////
/// Btns for Encrypt and Decrypt // also Result showing

.btnEncrypt {
  position: absolute;
  background-color: #b4a5a5;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  top: 8%;
  left: 60%;
  opacity: 0;
  cursor: pointer;
}

.btnDecrypt {
  position: absolute;
  background-color: #3c415c;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  top: 15%;
  left: 60%;
  opacity: 0;
  cursor: pointer;
}

/////////////////////////////////////////
///   Main Content
///

.Encrypt {
  position: absolute;
  top: 40%;
  left: 57%;
  font-size: 5rem;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
  opacity: 0;
}

.EncryptInput {
  position: absolute;
  top: 60%;
  left: 57%;
  width: 25rem;
  height: 3.9rem;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 2rem;
  padding-left: 0.5rem;
  opacity: 0;

  &__kNumber {
    position: absolute;
    top: 60%;
    left: 77%;
    width: 6rem;
    height: 3.9rem;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-size: 2rem;
    padding-left: 0.5rem;
    opacity: 0;
  }
}

.btnGen {
  position: absolute;
  top: 74%;
  left: 64%;
  background-color: transparent;
  border: 2px solid #151515;
  padding: 1.3rem 4.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-out;
  opacity: 0;
}

.btnG2 {
  border: none;
  color: #564464;
  background-color: rgba(255, 255, 255, 0.582);
  filter: blur(10px);
  transition: all 0.4s ease-in;
}

.btnG2:hover {
  filter: none;
}

.btnGen:hover {
  transform: scale(1.1);
  border-radius: 15px;
}

.btnGen:active {
  transform: scale(1);
  border-radius: 10px;
}

.result {
  position: absolute;
  top: 54%;
  left: 65%;
  width: 4rem;
  height: 4rem;
  background-color: #b9e0ff;
  border-radius: 30px;
  opacity: 1;
}

.answer {
  position: absolute;
  top: 33%;
  left: 57%;
  font-size: 5rem;
  color: #6c4ab6;
}

.showingAnswer {
  position: absolute;
  top: 53%;
  left: 53%;
  font-size: 3.2rem;
  background-color: white;
  padding: 1rem 8rem;
  border-radius: 4px;
  color: #b9e0ff;
}

.reset {
  position: absolute;
  top: 71%;
  left: 61%;
  font-size: 2rem;
  background-color: transparent;
  padding: 1rem 4rem;
  border-radius: 6px;
  color: #8d9eff;
  cursor: pointer;
  border: none;
}
